{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block css %}
    <link href="{% static "plugins/chosen/css/bootstrap-chosen.css" %}" rel="stylesheet">
    <link href="{% static "plugins/datepicker/datepicker3.css" %}" rel="stylesheet">
{% endblock %}
{% block scripts %}
    <script src="{% static "plugins/chosen/js/chosen.jquery.js" %}"></script>
    <script src="{% static "plugins/datepicker/bootstrap-datepicker.js" %}"></script>
    <script src="{% static "plugins/datepicker/bootstrap-datepicker.es.min.js" %}"></script>
    <script>
    $(document).ready(function () {
        initDatePicker();
        initChosenSelect();
    })
    var initDatePicker = function () {
        /**
         * Initiate datepicker control
         */
        $('.datepicker').datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true,
            format: "dd/mm/yyyy",
            language: "es-ES",
            defaultViewDate:1,
        });
    }
    var initChosenSelect = function () {
        /**
         * Initate chosen select control
         */
        $('.chosen-select').chosen({width: "100%"});
    };
    </script>
{% endblock %}
{% block breadcrumb %}
<ul class="breadcrumb hidden-print">
    <li>
        <a href="{% url 'dashboard' %}">
            {% trans 'Home' %}
        </a>
    </li>
    {% for breadcrumb in breadcrumbs %}
        <li>
            <a href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a>
        </li>
    {% endfor %}
    <li>
        <a href="#!">
            {{ title }}
        </a>
    </li>
</ul>
{% endblock %}
{% block content %}

    <div class="box box-primary">
        <div class="box-header with-border"></div>
        <div class="box-body">

            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <button type="submit" class="btn btn-primary btn-block">
                            <i class="fa fa-save"></i>
                            {% trans 'Save' %}
                        </button>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <a href="{{ reverse_url }}" class="btn btn-warning btn-block">
                            <i class="fa fa-arrow-circle-left"></i>
                            {% trans 'Cancel' %}
                        </a>
                    </div>
                </div>
            </form>

        </div>
    </div>


{% endblock %}