{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block breadcrumb %}
<ul class="breadcrumb hidden-print">
    <li>
        <a href="{% url 'dashboard' %}">
            {% trans 'Home' %}
        </a>
    </li>
    <li>
        <a href="{% url 'list_people' %}">
            {% trans 'People' %}
        </a>
    </li>
    <li>
        <a href="#!">
            {{ person.get_full_name }}
        </a>
    </li>
    <li>
        <a href="#!">
            {% trans 'Cards' %}
        </a>
    </li>
</ul>
{% endblock %}
{% block content %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3>{{ person.get_full_name }}</h3>
        </div>
        <div class="box-body">
            <div class="table-responsive">
                <table class="table table-hover table-striped table-condensed">
                    <thead>
                    <tr>
                        <th>{% trans '#' %}</th>
                        <th>{% trans 'Number' %}</th>
                        <th>{% trans 'Name' %}</th>
                        <th>{% trans 'Holder' %}</th>
                        <th>{% trans 'Limit' %}</th>
                        <th>{% trans 'Rate' %}</th>
                        <th>{% trans 'Due date' %}</th>
                        <th>{% trans 'Valid' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for card in object_list %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>
                                    <a href="{% url 'update_card' card.pk %}" data-toggle="tooltip" title="Update">
                                        {{ card.number }}
                                    </a>
                                </td>
                                <td>{{ card.name }}</td>
                                <td>{{ card.holder }}</td>
                                <td>{{ card.limit }}</td>
                                <td>{{ card.rate }}</td>
                                <td>{{ card.due_date }}</td>
                                <td>{{ card.is_valid|yesno }}</td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}