{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block breadcrumb %}
<ul class="breadcrumb hidden-print">
    <li>
        <a href="{% url 'dashboard' %}">
            {% trans 'Home' %}
        </a>
    </li>
    <li>
        <a href="#!">
            {% trans 'Transactions' %}
        </a>
    </li>
</ul>
{% endblock %}
{% block content %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <div class="pull-right">
{#                <a href="{% url 'new_transaction' %}" class="btn btn-primary">#}
{#                    <i class="fa fa-exchange"></i>#}
{#                    {% trans 'Register' %}#}
{#                </a>#}
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="box-body">
            <div class="table-responsive">
                <table class="table table-hover table-striped table-condensed">
                    <thead>
                    <tr>
                        <th>{% trans '#' %}</th>
                        <th>{% trans 'Person' %}</th>
                        <th>{% trans 'Card' %}</th>
                        <th>{% trans 'Card Brand' %}</th>
                        <th class="text-right">{% trans 'Amount' %}</th>
                        <th class="text-right">{% trans 'Rate' %}</th>
                        <th class="text-right">{% trans 'Amount rate' %}</th>
                        <th class="text-center">{% trans 'Is Valid?' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for transaction in object_list %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ transaction.person }}</td>
                                <td>{{ transaction.card.number }}</td>
                                <td>{{ transaction.card_brand }}</td>
                                <td class="text-right">{{ transaction.amount|floatformat:2 }}</td>
                                <td class="text-right">{{ transaction.card.get_rate|floatformat:2 }}</td>
                                <td class="text-right">{{ transaction.amount_rate|floatformat:2 }}</td>
                                <td class="text-center">{{ transaction.is_valid|yesno }}</td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}