{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block breadcrumb %}
<ul class="breadcrumb hidden-print">
    <li>
        <a href="{% url 'dashboard' %}">
            {% trans 'Home' %}
        </a>
    </li>
    <li>
        <a href="{% url 'list_people' %}">
            {% trans 'People' %}
        </a>
    </li>
</ul>
{% endblock %}
{% block content %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <div class="pull-right">
                <a href="{% url 'new_person' %}" class="btn btn-primary">
                    <i class="fa fa-plus"></i>
                    {% trans 'New Person' %}
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="box-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover table-condensed">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>{% trans 'DNI' %}</th>
                        <th>{% trans 'First Name' %}</th>
                        <th>{% trans 'Last name' %}</th>
                        <th>{% trans 'Address' %}</th>
                        <th>{% trans 'Cards' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for person in object_list %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>
                                    <a href="{% url 'update_person' person.pk %}" data-toggle="tooltip"
                                       title="{% trans 'Update' %}">
                                        {{ person.dni }}
                                    </a>
                                </td>
                                <td>{{ person.name }}</td>
                                <td>{{ person.last_name }}</td>
                                <td>{{ person.address }}</td>
                                <td>
                                    <a href="{% url 'list_person_cards' person.pk %}" class="btn btn-success"
                                       data-toggle="tooltip" title="{% trans 'Show cards' %}">
                                        <i class="fa fa-credit-card-alt"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}