{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block breadcrumb %}
<ul class="breadcrumb hidden-print">
    <li>
        <a href="{% url 'dashboard' %}">
            {% trans 'Home' %}
        </a>
    </li>
    <li>
        <a href="{% url 'list_brands' %}">
            {% trans 'Brands' %}
        </a>
    </li>
</ul>
{% endblock %}
{% block content %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <div class="pull-right">
                <a href="{% url 'new_brand' %}" class="btn btn-primary">
                    <i class="fa fa-plus"></i>
                    {% trans 'New brand' %}
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="box-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover table-condensed">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>{% trans 'Name' %}</th>
                        <th>{% trans 'Rate' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for brand in object_list %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>
                                    <a href="{% url 'update_brand' brand.pk %}" data-toggle="tooltip"
                                       title="{% trans 'Update' %}">
                                        {{ brand.name }}
                                    </a>
                                </td>
                                <td>{{ brand.rate }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}