{% load staticfiles %}
{% load i18n %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

    <title>
        {% block title %}
            {% trans 'Transaccions' %}
        {% endblock %}
    </title>
    {% block extra_meta %}
        <meta name="description" content="Help desk"/>
    {% endblock %}

    {% block css_prev %}

    {% endblock %}
    {% compress css %}
        <!-- Bootstrap 3.3.6 -->
        <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="{% static "css/icons/font-awesome.min.css" %}">
        <!-- Theme -->
        <link rel="stylesheet" href="{% static "css/theme/AdminLTE.css" %}">
        <link rel="stylesheet" href="{% static "css/theme/skin-yellow.min.css" %}">
        <link rel="stylesheet" href="{% static "css/theme/main.css" %}">
    {% endcompress %}
    <!-- Data Tables -->
    <link href="{% static "plugins/dataTables/datatables.min.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    {% block css %}

    {% endblock %}

</head>
<body class="hold-transition skin-blue layout-top-nav" style="height: auto; min-height: 100%;">

<div class="wrapper">
    {% include "menu.html" %}
    <div class="content-wrapper">
        <section class="content">
            {% block breadcrumb %}
            {% endblock %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}success{% endif %} alert-dismissable" id="confirmation_messages">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            {% block content %}
            {% endblock %}
        </section>
    </div>
</div>


<!-- Main Footer -->
<footer class="main-footer hidden-print">
    <!-- Default to the left -->
    <strong>Copyright &copy; 2021 <a href="#!">Adrian Mansilla Salas</a>.</strong>
</footer>

<!-- Scripts -->
{% compress js %}
    <!-- jQuery 2.2.0 -->
    <script type="text/javascript" src="{% static "js/jquery/jQuery-2.2.0.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery/jquery-ui.min.js" %}"></script>
    <!-- Bootstrap 3.3.6 -->
    <script type="text/javascript" src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <!-- AdminLTE App -->
    <script type="text/javascript" src="{% static "js/app.min.js" %}"></script>
{% endcompress %}
    <!-- Datatables -->
    <script type="text/javascript" src="{% static "plugins/dataTables/datatables.min.js" %}"></script>
    <script type="text/javascript" src="{% static "plugins/dataTables/buttons.colVis.min.js" %}"></script>
    <!-- jQuery validations -->
    <script type="text/javascript" src="{% static 'plugins/jquery-validation/jquery.validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/jquery-validation/messages_es.min.js' %}"></script>

<script>
    $(document).ready(function () {
        initDataTables();
        initValidations();
    })

    var initDataTables = function (){
        /**
         * Data tables utilities for tables
        **/
        $('table').DataTable({
            pageLength: 25,

            responsive: true,
            dom: '<"html5buttons"B>lTfgitp',
            buttons: [
                {
                    extend: 'copy',
                    exportOptions: {
                        columns: ':visible'
                    },
                    text: 'Copy'
                },
                {
                    extend: 'csv',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'excel',
                    title: 'Data',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'pdf',
                    title: 'Data',
                    exportOptions: {
                        columns: ':visible'
                    }
                },

                {
                    extend: 'print',
                    customize: function (win) {
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px');

                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                    },
                    exportOptions: {
                        columns: ':visible'
                    },
                    text: 'Print'
                },
                {
                    extend: 'colvis',
                    text: 'Columns'
                }
            ]
        }
    )}

    var initValidations = function (){
        /**
         * Validation forms by jQuery
         */
        $('form').validate();
    }
</script>

{% block scripts %}
{% endblock %}

</body>
</html>