{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
    {% trans 'Dashboard' %}
{% endblock %}
{% block scripts %}
     <!-- Flot -->
    <script src="{% static 'plugins/flot/jquery.flot.js' %}"></script>
    <script src="{% static 'plugins/flot/jquery.flot.tooltip.min.js' %}"></script>
    <script src="{% static 'plugins/flot/jquery.flot.resize.js' %}"></script>
    <script src="{% static 'plugins/flot/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'plugins/flot/jquery.flot.time.js' %}"></script>

    <script>
        $(function() {

            var container = $("#flot-line-chart-moving");

            // Determine how many data points to keep based on the placeholder's initial size;
            // this gives us a nice high-res plot while avoiding more than one point per pixel.

            var maximum = container.outerWidth() / 2 || 300;

            //

            var data = [];

            function getRandomData() {

                if (data.length) {
                    data = data.slice(1);
                }

                while (data.length < maximum) {
                    var previous = data.length ? data[data.length - 1] : 50;
                    var y = previous + Math.random() * 10 - 5;
                    data.push(y < 0 ? 0 : y > 100 ? 100 : y);
                }

                // zip the generated y values with the x values

                var res = [];
                for (var i = 0; i < data.length; ++i) {
                    res.push([i, data[i]])
                }

                return res;
            }

            series = [{
                data: getRandomData(),
                lines: {
                    fill: true
                }
            }];


            var plot = $.plot(container, series, {
                grid: {

                    color: "#999999",
                    tickColor: "#D4D4D4",
                    borderWidth:0,
                    minBorderMargin: 20,
                    labelMargin: 10,
                    backgroundColor: {
                        colors: ["#ffffff", "#ffffff"]
                    },
                    margin: {
                        top: 8,
                        bottom: 20,
                        left: 20
                    },
                    markings: function(axes) {
                        var markings = [];
                        var xaxis = axes.xaxis;
                        for (var x = Math.floor(xaxis.min); x < xaxis.max; x += xaxis.tickSize * 2) {
                            markings.push({
                                xaxis: {
                                    from: x,
                                    to: x + xaxis.tickSize
                                },
                                color: "#fff"
                            });
                        }
                        return markings;
                    }
                },
                colors: ["#1ab394"],
                xaxis: {
                    tickFormatter: function() {
                        return "";
                    }
                },
                yaxis: {
                    min: 0,
                    max: 110
                },
                legend: {
                    show: true
                }
            });

            // Update the random dataset at 25FPS for a smoothly-animating chart

            setInterval(function updateRandom() {
                series[0].data = getRandomData();
                plot.setData(series);
                plot.draw();
            }, 40);

        });
    </script>
{% endblock %}
{% block content %}
    <div class="box box-primary">
        <div class="box-body">
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-line-chart-moving"></div>
            </div>
        </div>
    </div>
{% endblock %}