{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static 'css/icons/font-awesome.min.css' %}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'css/theme/AdminLTE.min.css' %}">
    <style>
        .errorlist{
            color: red;
        }

        .btn-login:hover {
            color: #308bff !important;
            font-weight: 700 !important;
            letter-spacing: 3px;
            background: none;
            -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
            -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
            transition: all 0.3s ease 0s;
        }
        .btn-login {
            border: none;
            background: #8c8c8c;
            color: #ffffff !important;
            font-weight: 100;
            padding: 20px;
            text-transform: uppercase;
            border-radius: 6px;
            display: inline-block;
            width: 100%;
        }

    </style>

</head>
<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        <b class="text-primary"></b></a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">
            {% trans 'Transactions' %}
        </p>

        <form method="post" role="form">
            {% csrf_token %}
            <div class="form-group has-feedback">
                <label for="id_username">{% trans 'Username' %}</label>
                <input type="text" name="username" id="id_username" class="form-control" placeholder="Usuario" autofocus>
            </div>
            <div class="form-group has-feedback">
                <label for="id_password">{% trans 'Password' %}</label>
                <input type="password" name="password" id="id_password" class="form-control" placeholder="Contraseña">
                <p class="text-center">

                    {% if form.username.errors %}
                        <span class="text-danger">
                    <i class="fa fa-warning"></i>
                    {{ form.username.errors }}
                </span>
                    {% endif %}
                </p>
            </div>
            <div class="row">
                <!-- /.col -->
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">
                        <i class="fa fa-sign-in"></i>
                        {% trans 'Log in' %}
                    </button>
                </div>
            </div>
            <!-- /.col -->
    </form>

</div>
<!-- /.login-box-body -->
</div>
<!-- /.login-box -->

<!-- jQuery 2.2.0 -->
<script src="{% static 'js/jquery/jQuery-2.2.0.min.js' %}"></script>
<!-- Bootstrap 3.3.6 -->
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script>
    $(document).ready(function () {
        $('form').on('submit', function () {
            $button = $(this).find('button');
            $icon = $button.find('i');
            $icon.removeClass();
            $icon.addClass('fa fa-spinner fa-pulse');
            $button.attr({'disabled':true});
        });
    });
</script>
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
{#  <script src="{% static 'js/html5shiv.min.js' %}"></script>#}
{#  <script src="{% static 'js/respond.min.js' %}"></script>#}
  <![endif]-->
</body>
</html>
