{% load static %}
{% load i18n %}
<!-- Main Header -->
  <header class="main-header">
    <!-- Logo -->
    <a href="#" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>T</b>s</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>
          {% trans 'Transactions' %}</b>
      </span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->


      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            <li>
                <a href="{% url 'dashboard' %}">
                    <i class="fa fa-home"></i>
                    {% trans 'Home' %}
                </a>
            </li>

            <li class="dropdown tasks-menu">
                <!-- Menu Toggle Button -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-list"></i>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <!-- Inner menu: contains the tasks -->
                        <ul class="menu">
                            <li>
                                <a href="{% url 'list_people' %}">
                                    <i class="fa fa-users"></i>
                                    {% trans 'People' %}
                                </a>
                            </li>

                            <li>
                                <a href="{% url 'list_cards' %}">
                                    <i class="fa fa-credit-card"></i>
                                    {% trans 'Cards' %}
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'list_brands' %}">
                                    <i class="fa fa-bank"></i>
                                    {% trans "Card brands" %}
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'list_transactions' %}">
                                    <i class="fa fa-exchange"></i>
                                    {% trans 'Transactions' %}
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'users' %}">
                                    <i class="fa fa-user-secret"></i>
                                    {% trans 'Users' %}
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </li>

            <li>
                <a href="{% url 'logout' %}">
                    {{ user.username }}
                    <i class="fa fa-sign-out"></i>
                </a>
            </li>
        </ul>
      </div>
    </nav>
  </header>

