.vspacing-10{
    height: 10px;
}
.vspacing-20{
    height: 20px;
}
.vspacing-25{
    height: 25px;
}
.vspacing-30{
    height: 30px;
}
.vspacing-40{
    height: 40px;
}


#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 14px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}
.result-box{
    width: 100%;
    height: 100%;
    max-height: 480px;
    display: inline-block;
    overflow: auto;
}
.helptext {
    color: #767676;
}