{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block breadcrumb %}
    <ul class="breadcrumb hidden-print">
        <li>
            <a href="{% url 'dashboard' %}">
                {% trans 'Home' %}
            </a>
        </li>
        <li>
            <a href="{% url 'users' %}">
                {% trans 'Users' %}
            </a>
        </li>
    </ul>
{% endblock %}
{% block content %}
    <div class="box box-primary">
        <div class="box-header with-border"></div>
        <div class="box-body">
            <form action="" method="post">
                {% csrf_token %}
                <p>
                    <label for="id_username">{{ form.username.label }}:</label>
                    {{ form.username }}
                    {{ form.username.errors }}
                </p>
                <p>
                    <label for="id_password">{{ form.password1.label }}:</label>
                    {{ form.password1 }}
                    {{ form.password1.errors }}

                    {{ form.password1.help_text|safe }}
                </p>
                <p>
                    <label for="id_password2">{{ form.password2.label }}:</label>
                    {{ form.password2 }}
                    {{ form.password2.errors }}
                </p>

                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <button type="submit" class="btn btn-primary btn-block">
                            <i class="fa fa-save"></i>
                            {% trans 'Save' %}
                        </button>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <a href="{% url 'users' %}" class="btn btn-warning btn-block">
                            <i class="fa fa-arrow-circle-left"></i>
                            {% trans 'Cancel' %}
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
