{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block breadcrumb %}
<ul class="breadcrumb hidden-print">
    <li>
        <a href="{% url 'dashboard' %}">
            {% trans 'Home' %}
        </a>
    </li>
</ul>
{% endblock %}
{% block content %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <div class="pull-right">
                <a href="{% url 'new_user' %}" class="btn btn-primary">
                    <i class="fa fa-user-plus"></i>
                    {% trans 'New user' %}
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="box-body">
            <div class="table-responsive">
                <table class="table table table-striped table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>{% trans '#' %}</th>
                            <th>{% trans 'Username' %}</th>
                            <th>{% trans 'Full name' %}</th>
                            <th>{% trans 'Is active' %}</th>
                            <th class="text-center">{% trans 'Change password' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>
                                    <a href="{% url 'update_user' user.username %}" data-toggle="tooltip" title="{% trans 'Edit' %}">
                                        {{ user.username }}
                                    </a>
                                </td>
                                <td>{{ user.get_full_name }}</td>
                                <td>{{ user.is_active|yesno }}</td>
                                <td class="text-center">
                                    <a href="{% url 'update_password' user.username %}"
                                    data-toggle="tooltip" title="Change password">
                                        <i class="fa fa-asterisk"></i>
                                        <i class="fa fa-asterisk"></i>
                                        <i class="fa fa-asterisk"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
